body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(242, 146, 255);
    margin: 20px;
  }
  
  h1 {
    text-align: center;

  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    color: rgb(0, 0, 0);
  }
  
  table, th, td {
    border: 1px solid #8114ff;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }